@import models.Team

@(f: Form[Team], name: String)(implicit messages: Messages)
@base("Editing " + name, None, None) {

    <div class="row-fluid" >
        <div class="span12">
            <div class="container">
                <h1>Editing @name</h1>
                <div class="well">
                @helper.form(action = routes.Schedule.saveTeam(), 'role -> "form", 'class -> "form-horizontal") {

                    @helper.inputText(f("key"), '_label -> "Key", 'class -> "form-control col-xs-3", 'readonly->"true")
                    @helper.inputText(f("name"), '_label -> "Name", 'class -> "form-control col-xs-3")
                    @helper.inputText(f("longName"), '_label -> "Long Name", 'class -> "form-control col-xs-5")
                    @helper.inputText(f("nickname"), '_label -> "Nickname", 'class -> "form-control col-xs-3")

                    @helper.inputText(f("logos.smallUrl"), '_label -> "Small Logo", 'class -> "form-control col-xs-6")
                    @helper.inputText(f("logos.bigUrl"), '_label -> "Big Logo", 'class -> "form-control col-xs-6")

                    @helper.inputText(f("colors.primary"), '_label -> "Primary Color", 'class -> "form-control col-xs-3")
                    @helper.inputText(f("colors.secondary"), '_label -> "Secondary Color", 'class -> "form-control col-xs-3")

                    @helper.inputText(f("socialMedia.url"), '_label -> "URL", 'class -> "form-control col-xs-3")
                    @helper.inputText(f("socialMedia.twitter"), '_label -> "Twitter", 'class -> "form-control col-xs-3")
                    @helper.inputText(f("socialMedia.instagram"), '_label -> "Instagram", 'class -> "form-control col-xs-3")
                    @helper.inputText(f("socialMedia.facebook"), '_label -> "Facebook", 'class -> "form-control col-xs-3")

                    <input type="submit"/>
                }
                </div>
            </div>
        </div>
    </div>
}